*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 300vh;
    /* background-color: black; */
}
/* header */
.header{
    width: 100%;
    height: 85px;
    background-color: #121618;
    box-shadow: black 10px 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav :hover{
    color: rgb(250, 197, 100);
    cursor: pointer;
}


.nav #dff {
    color: rgb(250, 197, 100);
}

nav .atag {
    color: #a6b6af;
}

.logo{
    width: 15%;
    height: 30%;
    margin-right: 350px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    width: 30%;
    height: 100%;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: #a6b6af;
}

 /* header ends here */
.background{
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
    background-image: url(../Images/bg_3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: soft-light;
}
.about-wrapper{
    width: 300px;
    height: 200px;
    /* background-color: teal; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.about h2{
    margin: 10px;
    font-size: 40px;
}
.about-home{
    margin: 10px;
}
.about-home a{
    text-decoration: none;
    color: white;
}
.about-home p span{
    color: rgb(241, 188, 188);
}
/* Next code css comes in here */
.time_wrapper{
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: black;
    grid-template-rows: 140px;
}



.time{
    /* background-color: tomato; */
    display: flex;
    justify-content: end;
}

.sites{
    background-color: rgb(250,197,100);
    display: flex;
    justify-content: start;
}

.child_wrapper{
    width: 80%;
    height: 100%;
    margin-right: 50px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}


.phone {
    display: flex;
}

.phone img {
    width: 17px;
    height: 17px;
    margin-right: 24px;
}

.phone span {
    font-size: 17px;
    color: #ffff;
    font-weight: bold;
    line-height: 22.4px;
}

.child_time p {
    font-size: 17px;
    color: #747474;
    line-height: 27px;
    font-weight: 300;
    margin-left: 40px;
    vertical-align: baseline;
} 


.site_wrapper{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
}

#facebook{
    width: auto;
    height: 20px;
    cursor: pointer;
}

.site_wrapper img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.pizza{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 500px);
    background-image: url(../Images/bg_4.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.about_image{
    grid-column: span 2;
}
.about_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.text_about .wrapper{
    width: 80%;
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-content: space-around;

    position: relative;
}

.text_about span{
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    color: rgb(255, 255, 255);

}

.text_about .wrapper #text_dff span {
    color: rgb(250, 197, 100);
    margin-left: 33px;
}

.text_about .wrapper :last-child{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 34%;
}

.text_about .wrapper :last-child img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.text_about p{
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    color: rgb(128, 128, 128);
}
.team{
    grid-row: span 2;
    grid-column: span 4;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}     
.team-wrapper{
    width: 80%;
    height: 110vh;
    /* background-color: green; */
    display: flex;
    cursor: pointer;
    flex-direction: column;
    /* color: white; */
    color: rgb(191, 191, 191);
    font-weight: 600;
    align-items: center;
    justify-content: space-around;
} 
.ourTeam h1{
    color: white;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    margin: 20px;
}  
.card{
    width: 100%;
    height: 80vh;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* align-items: center; */
}   
.team-card{
    width: 23%;
    height: 60vh;
    /* background-color: khaki; */
    border: 1px solid rgb(250, 197, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: rgb(191, 191, 191);
    align-items: center;
}
.team-card:hover{
    border: 2px solid goldenrod;
}
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
} 
.profile img:hover{
    border: 2px solid goldenrod;
}
.name h3{
    color: rgb(250, 197, 100);
    margin-bottom: 15px;
}
.description h4{
    margin-bottom: 15px;
} 
.brief p{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}                                                                                                                                    

.footer{
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101315;
    position: relative;
}

.main_wrapper{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.main_wrapper .aboutUs {
    width: 23%;
    height: 70%;
}

.aboutUs .abt {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.aboutUs .text {
    color: rgb(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.social{
    margin-top: 40px;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}


.social :nth-child(1){
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #1c1e20;
}

.social div img{
    width: 1000%;
    height: 100%;
    object-fit: contain;
}

.recentBlog{
    width: 33%;
    height: 70%;
}

.recentBlog .wrapper {
    position: relative;
    width: 90%;
    height: 30%;
    margin-top: 10px;
    display: flex;
}

.rb{
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.recentBlog .wrapper .img{
    width: 23%;
    height: 100%;
}

.recentBlog .wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrpa {
    width: 60%;
    height: 100%;
    margin-left: 17px;
}

.txt span{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 300;
    cursor: pointer;
}

.txt span:hover {
color: rgb(250, 197, 100);
}

.sam #dff span {
    margin-left: 10px;
    color: rgb(128, 128, 128);
}

.sam span {
    color: rgb(128, 128, 128);
    margin-left: 10px;
    font-size: 10px;
}

.recentBlog .wrapper .cam {
    position: absolute;
    top: 40%;
    width: 9px;
    height: 9px;
}
.recentBlog .wrapper .camdff {
    position: absolute;
    top: 40%;
    width: 7.4px;
    height: 7.4px;
}


.service{
    width: 10%;
    height: 80%;
}

.service .span {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.service span {
    color: rgb(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
}

#calendar{
    position: absolute;
    top: 56%;
    left: 29.1%;
    cursor: pointer;
}

#admin{
    position: absolute;
    top: 54%;
    left: 53%;
    cursor: pointer;
}

#message{
    position: absolute;
    top: 58%;
    left: 66.5%;
    cursor: pointer;
}

.question{
    width: 24%;
    height: 60%;
}

.question #span {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

.question .wrappa {
    width: 100%;
    height: 24%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.question .icon_wrapper{
    width: 6%;
    height: 40%;
}

.question .span {
    width: 80%;
    height: 100%;
} 



.question .span span{
    color: rgb(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 300;
}

.question .icon_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.question #dff{
line-height: 15px;
}

#last_footer{
    position: absolute;
    top: 80%;
    color: rgb(255, 255, 255, 0.7);
    font-size: 13px;
    font-weight: 300;
}

#last_footer span {
    position: relative;
    margin-left: 13px;
}

#love{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 80.5%;
    left: 60.1%;
}